<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Praticien</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2>Compte personnel</h2>
			</div>
			<div class="card-body">
				<table id="praticienTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Mail</th>
							<th>Tel</th>
							<th>Duree creneau</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pat : ${mesPraticiens}">
							<td th:text="${pat.id}"></td>
							<td>[[${pat.nom}]]</td>
							<td>[[${pat.prenom}]]</td>
							<td>[[${pat.mail}]]</td>
							<td>[[${pat.tel}]]</td>
							<td>[[${pat.dureeCreneau}]]</td>
							<td><div class='btn-group'>
									<a th:href="@{/praticien/edit(id=${pat.id})}"
										class='btn btn-primary'> <i class='fas fa-edit'></i>
									</a> <a th:href="@{/praticien/remove(id=${pat.id})}"
										class='btn btn-danger'> <i class='far fa-trash-alt'></i>
									</a>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/praticien/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>