<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="shortcut icon" type="image/png"
	href="images/icon-mon-rdv.png" />
<title>Accueil</title>
</head>
<body>
	<div class="jumbotron">
		<h1 class="display-4 mt-5">Bonjour et bienvenue sur Mon-rdv !</h1>

		<p class="lead">L'application pour prendre rendez-vous avec votre
			praticien en toute simplicité :)</p>

		<div class="row justify-content-md-center search align-items-center">
			<form action="#" method="post" novalidate="novalidate">
				<div class="row justify-content-md-center">
					<div class="col-sm">
						<input type="text" class="form-control search-slt"
							placeholder="Nom">
					</div>
					<div class="col-sm">
						<input type="text" class="form-control search-slt"
							placeholder="Specialité">
					</div>
					<div class="col-sm">
						<input type="text" class="form-control search-slt"
							placeholder="Lieu">
					</div>
					<div class="col-sm">
						<button type="button" class="btn btn-danger wrn-btn">Rechercher</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>