<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>$CONTENT_TITLE</title>
<base href="/mon-rdv-spring-mvc-th/" />
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header>
		<nav
			class="navbar navbar-title navbar-light bg-light navbar-expand-md fixed-top">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="Index.html"> <img
				src="Images/icon-mon-rdv.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Mon-rdv
			</a>

			<!-- Links -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					href="AdministrateurProfil.html"><b>Espace Administrateur</b></a></li>
				<li class="nav-item"><a class="nav-link"
					href="PraticienProfil.html"><b>Espace Praticien</b></a></li>
				<li class="nav-item"><a class="nav-link"
					href="PatientRdvVenir.html"><b>Espace Patient</b></a></li>
				<li class="nav-item"><a class="nav-link" href="login"><b>Connexion</b></a></li>
			</ul>
		</nav>
	</header>
	<div class="container mt-5">
		<div class="mt-5">
			<section layout:fragment="content" class="mt-5">
				<p>Page content goes here</p>
			</section>
		</div>
	</div>
</body>
</html>