<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="shortcut icon" type="image/png"
	href="images/icon-mon-rdv.png" />
<title>Sélection Praticien</title>
</head>
<body>
	<section layout:fragment="content" class="mt-5">

		<div style="height: 50px"></div>
			<div class="col-md-6 offset-md-3 card">
				<div class="card-header bg-light text-dark">
					<h2>Liste des praticiens</h2>
				</div>
				<div class="card-body">
					<table id="praticienTab" class="table table-striped">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Mail</th>
								<th>Tel</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="praticien : ${mesPraticiens}">
								<td>[[${praticien.nom}]]</td>
								<td>[[${praticien.prenom}]]</td>
								<td>[[${praticien.mail}]]</td>
								<td>[[${praticien.tel}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</section>
</body>
</html>