<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="login.css">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="shortcut icon" type="image/png"
	href="Images/icon-mon-rdv.png" />
<script src="index.js"></script>
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content" class="mt-5">
		<div class="container login-container">
			<div class="row">
				<div class="col-md-6 login-form-1">
					<h3>Vous êtes nouveau ?</h3>
					<form>
						<div class="form-group">
						<label for="nom">Entrez votre nom d'utilisateur :</label> <input type="text"
							class="form-control" id="username" name="username"
							th:value="${monUtilisateur.username}"> <small
							class="form-text text-danger" th:errors="${monUtilisateur.username}"></small>
					</div>
						<div class="form-group">
							Confirmez votre nom d'utilisateur : <input type="text" class="form-control"
								placeholder="" id="username2" name="username2" value="" />
						</div>
						<div class="form-group">
						<label for="nom">Entrez votre mot de passe :</label> <input type="text"
							class="form-control" id="mdp" name="mdp"
							th:value="${monUtilisateur.mdp}"> <small
							class="form-text text-danger" th:errors="${monUtilisateur.mdp}"></small>
					</div>
						<div class="form-group">
							Confirmez votre mot de passe : <input type="text" class="form-control"
								placeholder="" id="mdp2" name="mdp2" value="" />
						</div>
						<div class="mt-5">
							<input type="checkbox" id="cdt-general" name="cdt-general"><span
								class="cg ml-2">J'accepte les conditions générales
								d'utilisation</span>
						</div>
						<div class="form-group mt-2">
							<input type="submit" class="btnSubmit" th:value="sinscrire" />
						</div>
						<div class="form-group">
							<a href="#" class="ForgetPwd">Mot de passe oublié?</a>
						</div>
					</form>
				</div>
				<div class="col-md-6 login-form-2">
					<h3>Mon compte</h3>
					<form th:action="@{/login/sidentifier}" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email"
								th:value="" />
						</div>
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Mot de Passe" th:value="" />
						</div>
						<div class="form-group">
							<input type="submit" class="btnSubmit" value="S'identifier" />
						</div>
						<div class="form-group">

							<a href="#" class="ForgetPwd" th:value="Login">Mot de passe
								oublié?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>